<!-- <nav aria-label="Page navigation example" class="fixed-bottom">
    <ul class="pagination">
      <li class="page-item"><a class="page-link has-label" href="#">Previous</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link has-label" href="#">Next</a></li>
    </ul>
</nav> -->
<footer class="footer">
      <nav class="navbar navbar-light bg-light ">
          <a class="navbar-brand" id="logo"><img src="assets/download.png" alt="Orange logo" width="72" height="72"> © Orange-Sénégal</a>
      </nav>
</footer>