<app-navbar></app-navbar><br>
<div class="container">
        <div class="o-nav-local">
          <div>
            <h1>Les types de demandes</h1>
          </div>
                <nav class="container-fluid navbar-primary">
                    <div class="row">
                        <div class="col-md-3">
                          <div class="card" style="height: 12rem;">
                            <div class="card-body">
                              <h5 class="card-title">Ouverture de flux</h5>
                              <p class="card-text">With supporting text below as....</p>
                            </div>
                            <div class="card-footer">
                              <a [routerLink]="[ '/flux', 0]" class="btn btn-primary">Choisir</a>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="card" style="height: 12rem;">
                            <div class="card-body">
                              <h5 class="card-title">Accès VPN</h5>
                              <p class="card-text">VPN site to site/ Remote Access</p>
                            </div>
                            <div class="card-footer">
                              <a href="#" class="btn btn-primary">Choisir</a>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card" style="height: 12rem;">
                              <div class="card-body">
                                <h5 class="card-title">Création virtual server</h5>
                                <p class="card-text">VS pour assurer la haute disponibilité</p>
                              </div>
                              <div class="card-footer">
                                <a href="#" class="btn btn-primary">Choisir</a>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-3">
                              <div class="card" style="height: 12rem;">
                                <div class="card-body">
                                  <h5 class="card-title">Autre Demande</h5>
                                  <p class="card-text">Remplissez un formulaire pour une autre demande</p>
                                </div>
                                <div class="card-footer">
                                  <a href="#" class="btn btn-primary">Choisir</a>
                                </div>
                              </div>
                            </div>
                      </div>
                </nav>
            </div>
</div>
<app-footer></app-footer>

